:root {
  background: linear-gradient(#000000 0%, #414141 100%);
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  width: auto;
  height: 100vh;
  overflow: scroll;
}
